USE [Pruebas_SincroSapGoSocket];
GO

/*==============================================================
  1) Esquema
==============================================================*/
IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'Integration')
    EXEC('CREATE SCHEMA Integration');
GO

/*==============================================================
  2) Crear tabla solo si no existe
==============================================================*/
IF OBJECT_ID('Integration.DocumentosPendientes', 'U') IS NULL
BEGIN
    CREATE TABLE [Integration].[DocumentosPendientes]
    (
        [DocumentosPendientes_Id] BIGINT IDENTITY(1,1) NOT NULL,
        [SourceSystem]            VARCHAR(30)   NOT NULL
            CONSTRAINT [DF_DocumentosPendientes_SourceSystem] DEFAULT ('SAP'),

        [TipoCE]                  VARCHAR(2)    NOT NULL,  -- FE, NC, ND
        [ObjType]                 VARCHAR(10)   NOT NULL,  -- 13=Factura, 14=NC, etc
        [DocEntry]                INT           NOT NULL,
        [DocNum]                  INT           NULL,
        [DocSubType]              VARCHAR(10)   NULL,
        [DocType]                 CHAR(1)       NULL,      -- I=item, S=service
        [CardCode]                VARCHAR(20)   NULL,
        [TaxDate]                 DATE          NULL,

        [CreateDateTime]          DATETIME2(0)  NOT NULL
            CONSTRAINT [DF_DocumentosPendientes_CreateDateTime] DEFAULT (SYSDATETIME()),

        [Status]                  VARCHAR(20)   NOT NULL
            CONSTRAINT [DF_DocumentosPendientes_Status] DEFAULT ('PENDING'),
            -- PENDING, IN_PROGRESS, DONE, FAILED, RETRY, DEAD, WAITING_HACIENDA, etc.

        [AttemptCount]            INT           NOT NULL
            CONSTRAINT [DF_DocumentosPendientes_AttemptCount] DEFAULT (0),

        [NextAttemptAt]           DATETIME2(0)  NULL,
        [LastAttemptAt]           DATETIME2(0)  NULL,

        [LockedBy]                VARCHAR(100)  NULL,
        [LockedAt]                DATETIME2(0)  NULL,

        [LastError]               NVARCHAR(2000) NULL,

        [GoSocket_TrackId]        NVARCHAR(100)  NULL,
        [GoSocket_HttpStatus]     INT            NULL,
        [GoSocket_ResponseJson]   NVARCHAR(MAX)  NULL,

        [Hacienda_Estado]         VARCHAR(30)    NULL,
        [Hacienda_ResponseJson]   NVARCHAR(MAX)  NULL,

        [XmlFilePath]             NVARCHAR(MAX)  NULL,
        [Clave]                   VARCHAR(50)    NULL,

        CONSTRAINT [PK_DocumentosPendientes]
            PRIMARY KEY CLUSTERED ([DocumentosPendientes_Id] ASC),

        -- Idempotencia
        CONSTRAINT [UQ_DocumentQueue]
            UNIQUE NONCLUSTERED ([ObjType], [DocEntry]),

        -- Validaciones básicas opcionales útiles
        CONSTRAINT [CK_DocumentosPendientes_AttemptCount]
            CHECK ([AttemptCount] >= 0),

        CONSTRAINT [CK_DocumentosPendientes_TipoCE]
            CHECK ([TipoCE] IN ('FE','NC','ND','TE','FEC','NCE','NDE')),

        CONSTRAINT [CK_DocumentosPendientes_DocType]
            CHECK ([DocType] IS NULL OR [DocType] IN ('I','S'))
    ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];

    CREATE INDEX [IX_DocumentQueue_Status_NextAttempt]
        ON [Integration].[DocumentosPendientes]
           ([Status], [NextAttemptAt], [DocumentosPendientes_Id]);

    CREATE INDEX [IX_DocumentQueue_Doc]
        ON [Integration].[DocumentosPendientes]
           ([ObjType], [DocEntry]);

    CREATE INDEX [IX_DocumentQueue_TipoCE_Status]
        ON [Integration].[DocumentosPendientes]
           ([TipoCE], [Status], [NextAttemptAt], [DocumentosPendientes_Id]);

    CREATE INDEX [IX_DocumentosPendientes_Clave]
        ON [Integration].[DocumentosPendientes] ([Clave]);

    CREATE INDEX [IX_DocumentosPendientes_GoSocketTrackId]
        ON [Integration].[DocumentosPendientes] ([GoSocket_TrackId]);
END
GO