USE [Pruebas_SincroSapGoSocket]
GO
/****** Object:  Table [dbo].[ComprobantesElectronicos_Consecutivos]    Script Date: 20/03/2026 15:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobantesElectronicos_Consecutivos](
	[FE] [varchar](21) NULL,
	[FES] [varchar](21) NULL,
	[NC] [varchar](21) NULL,
	[NCS] [varchar](21) NULL,
	[ND] [varchar](21) NULL,
	[NDS] [varchar](21) NULL,
	[TE] [varchar](21) NULL,
	[FEE] [varchar](21) NULL,
	[FEC] [varchar](21) NULL,
	[RE] [varchar](21) NULL,
	[FE_Contingencia] [varchar](21) NULL,
	[NC_Contingencia] [varchar](21) NULL,
	[ND_Contingencia] [varchar](21) NULL,
	[MR_Aceptado] [varchar](21) NULL,
	[MR_Aceptado_Parcial] [varchar](21) NULL,
	[MR_Rechazado] [varchar](21) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ComprobantesElectronicos_Consecutivos] ([FE], [FES], [NC], [NCS], [ND], [NDS], [TE], [FEE], [FEC], [RE], [FE_Contingencia], [NC_Contingencia], [ND_Contingencia], [MR_Aceptado], [MR_Aceptado_Parcial], [MR_Rechazado]) VALUES (N'00100001010000062603', NULL, N'00100001030000000039', NULL, N'00100001020000000014', NULL, N'00100001040000000010', N'00100001090000000006', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
