USE [ZZTEST_SBO_LARCE]
GO
/****** Object:  Trigger [dbo].[TR_OINV_Enqueue]    Script Date: 20/04/2026 16:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[TR_OINV_Enqueue]
ON [dbo].[OINV]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    /*==============================================================
      1. INSERT: encolar documentos nuevos de OINV
         FE / TE / ND
    ==============================================================*/
    IF EXISTS (SELECT 1 FROM inserted)
       AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO [Pruebas_SincroSapGoSocket].[Integration].[DocumentosPendientes]
        (
            SourceSystem,
            TipoCE,
            ObjType,
            DocEntry,
            DocNum,
            DocSubType,
            DocType,
            CardCode,
            TaxDate,
            Status
        )
        SELECT
            'SAP' AS SourceSystem,
            CASE
                WHEN ISNULL(i.DocSubType, '') = 'DN' THEN 'ND'
                WHEN ISNULL(c.U_LDT_TipoDocElect, '') = '03' THEN 'TE'
                ELSE 'FE'
            END AS TipoCE,
            '13' AS ObjType,
            i.DocEntry,
            i.DocNum,
            i.DocSubType,
            i.DocType,
            i.CardCode,
            i.TaxDate,
            'PENDING' AS Status
        FROM inserted i
        LEFT JOIN dbo.OCRD c
               ON c.CardCode = i.CardCode
        LEFT JOIN [Pruebas_SincroSapGoSocket].[Integration].[DocumentosPendientes] q
               ON q.ObjType = '13'
              AND q.DocEntry = i.DocEntry
        WHERE q.DocumentosPendientes_Id IS NULL
          AND ISNULL(i.CANCELED, 'N') = 'N';
    END

    /*==============================================================
      2. UPDATE: si cambia U_Reintenta, reactivar en cola
         FE / TE / ND
    ==============================================================*/
    IF EXISTS (SELECT 1 FROM inserted)
       AND EXISTS (SELECT 1 FROM deleted)
    BEGIN
        ;WITH DocsReintento AS
        (
            SELECT
                i.DocEntry,
                i.DocNum,
                i.U_Reintenta AS U_Reintenta_Nuevo,
                d.U_Reintenta AS U_Reintenta_Anterior
            FROM inserted i
            INNER JOIN deleted d
                    ON d.DocEntry = i.DocEntry
            WHERE ISNULL(i.U_Reintenta, '') <> ISNULL(d.U_Reintenta, '')
        )
        UPDATE q
           SET q.Status        = 'PENDING',
               q.NextAttemptAt = NULL,
               q.LastAttemptAt = NULL,
               q.LockedBy      = NULL,
               q.LockedAt      = NULL,
               q.LastError     = NULL
               -- opcional:
               -- ,q.AttemptCount = 0
        FROM [Pruebas_SincroSapGoSocket].[Integration].[DocumentosPendientes] q
        INNER JOIN DocsReintento r
                ON q.ObjType = '13'
               AND q.DocEntry = r.DocEntry;
    END
END
