USE [SBO_LARCE]
GO
/****** Object:  Trigger [dbo].[TR_ORIN_Enqueue]    Script Date: 15/04/2026 10:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[TR_ORIN_Enqueue]
ON [dbo].[ORIN]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

	 DECLARE @SeriePrimariaNC INT = 96; -- <-- CAMBIAR por el Series real de la NC primaria
    /*==============================================================
      1. INSERT: encolar documentos nuevos de ORIN
         NC
    ==============================================================*/
    IF EXISTS (SELECT 1 FROM inserted)
       AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO [SincroSapGoSocket].[Integration].[DocumentosPendientes]
        (
            SourceSystem,
            TipoCE,
            ObjType,
            DocEntry,
            DocNum,
            DocSubType,
            DocType,
            CardCode,
            TaxDate,
            Status
        )
        SELECT
            'SAP'      AS SourceSystem,
            'NC'       AS TipoCE,
            '14'       AS ObjType,
            i.DocEntry,
            i.DocNum,
            i.DocSubType,
            i.DocType,
            i.CardCode,
            i.TaxDate,
            'PENDING'  AS Status
        FROM inserted ins
        INNER JOIN dbo.ORIN i
            ON i.DocEntry = ins.DocEntry
        LEFT JOIN [SincroSapGoSocket].[Integration].[DocumentosPendientes] q
            ON q.ObjType = '14'
           AND q.DocEntry = i.DocEntry
        WHERE q.DocumentosPendientes_Id IS NULL
          AND ISNULL(i.CANCELED, 'N') = 'N'
		  AND i.Series = @SeriePrimariaNC
		  AND i.DocType<>'S' ;
    END

    /*==============================================================
      2. UPDATE: si cambia U_Reintenta, reactivar en cola
         NC
    ==============================================================*/
    IF EXISTS (SELECT 1 FROM inserted)
       AND EXISTS (SELECT 1 FROM deleted)
    BEGIN
        ;WITH DocsReintento AS
        (
            SELECT
                i.DocEntry,
                i.DocNum,
                i.U_Reintenta AS U_Reintenta_Nuevo,
                d.U_Reintenta AS U_Reintenta_Anterior
            FROM inserted i
            INNER JOIN deleted d
                ON d.DocEntry = i.DocEntry
            WHERE ISNULL(i.U_Reintenta, '') <> ISNULL(d.U_Reintenta, '')
			   AND i.Series = @SeriePrimariaNC
			   AND i.DocType<>'S' 
        )
        UPDATE q
           SET q.Status        = 'PENDING',
               q.NextAttemptAt = NULL,
               q.LastAttemptAt = NULL,
               q.LockedBy      = NULL,
               q.LockedAt      = NULL,
               q.LastError     = NULL
               -- , q.AttemptCount = 0
        FROM [SincroSapGoSocket].[Integration].[DocumentosPendientes] q
        INNER JOIN DocsReintento r
            ON q.ObjType = '14'
           AND q.DocEntry = r.DocEntry;
    END
END